#loginForm{
  margin: auto;
  width: 55%;
  height:25%;
  border: 5px solid white;
  padding: 10px;
  text-align: center;
  backdrop-filter: blur(10px);
  box-shadow: 2px 2px black;
}

#phrase{
    text-align: center;
    color:white;
    font-size:  3em;
    margin-top: 10%;
 text-shadow: 2px 2px black;
}
#email{
margin-top: 1%;
}
#password{
margin-top: 1%;
}
#submit{
margin-top: 2%;
color: white;
    background: none;
    border: white 3px solid;
    box-shadow: 2px 2px black;
     text-shadow: 2px 2px black;
    font-size:  1em;
}